
@using Shop_MVC.Models.Sercurity
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Layout/Main.cshtml";
}

@section LoginStatus{
    @if (@Session["Login"] != null)
    {
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/Content/Client/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i> @(((Acount)Session["Login"]).Name)</a></li>
                                <li><a href="/Login/DangXuat" id="btnDangXuat"><i class="fa fa-lock"></i> Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    }
    else
    {
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/Content/Client/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-user"></i></a></li>
                                <li><a href="/Login/Index"><i class="fa fa-lock"></i> Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
    }
}

<section id="cart_items">
    <div class="container">    
        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-5 clearfix form-one">
                    <div class="bill-to">
                        <p>Thông tin thanh toán</p>
                    </div>
                    <form>
                        <input type="text" placeholder="Số điện thoại" id="SDTTT">
                        <input type="text" placeholder="Địa chỉ" id="DiaChiTT">
                        <a class="btn btn-primary" href="/Home/Index">Tiếp tục mua hàng</a>
                        <a class="btn btn-primary" href="" id="btnThanhToan">Thanh toán</a>
                    </form>
                    
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Yêu cầu đơn hàng</p>
                        <textarea id="YeuCauMuaHangTT" name="message" placeholder="Nhập yêu cầu về đơn hàng (ví dụ: thời gian, địa điểm)" rows="8" style="height: 140px;"></textarea>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Hóa đơn</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description"></td>
                        <td class="price">Đơn giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="GioHang">
                    @* Dữ liệu sẽ được thêm bằng ajax *@
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->


@section Script{
    <script src="~/Content/Client/js_make/ThanhToan.js"></script>
}

